<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card image-container p-3">
        <img [src]="product.productImages[selectedImage].url" alt="" class="zoomProductImage">
      </div>
      <div class="mt-2">
        <mat-grid-list cols="3" gutterSize="10" rowHeight="1:1" style="border: 1px solid lightgrey;cursor: pointer;">
          <mat-grid-tile *ngFor="let file of product.productImages; let i=index" (click)="changImage(i)">
            <img [src]="file.url" alt="" style="height: 100px;">
          </mat-grid-tile>
        </mat-grid-list>
      </div>

     
    </div>
    <div class="col-6">
      <div class="product-information">
        <div class="mt-3">
          <h2>{{product.productName}}</h2>
        </div>
        <div class="mt-3">
          Description : <br>
          {{product.productDesc}}
        </div>

        <div class="mt-3">
          Description : <br>
          <b> {{product.productDiscountedPrice | currency:'INR':'symbol'}} </b> &nbsp; &nbsp;
          <span style="text-decoration: line-through;">{{product.productActualPrice | currency:'INR':'symbol'}}</span>
        </div>

        <div class="mt-5 text-center">
          <button mat-raised-button color="warn" style="width: 200px;" (click)="buyProduct(product.productId)">Buy Now</button>
          &nbsp;
          <button mat-raised-button style="width: 200px;" (click)="addToCart(product.productId)">Add to Cart</button>
        </div>

      </div>
    </div>

  </div>
</div>

